HELP.md
target/
.idea/
.mvn/
*.log
src/main/resources/Reviews.csv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
mvnw
*.iws
*.iml
*.ipr
*.cmd
